[package]
name = "sertyp_macros"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Procedural macros for the sertyp crate."
license.workspace = true

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"